body {
    background-color: bisque;
    font-size: 30px;

}

.container {
    width: 400px;
    float: left;
    border: 2px solid black;
}

.myTable {
    width: 100%;
    border: 1px solid black;
    text-align: center;
}