body{
    padding: 0;
    margin: 0;
    background-color: bisque;
}

#container {
    width: 1000px;
    border: 1px solid black;
/*    text-align: center; */
    margin: 0 auto;
}

.left{
    width: 700px;
}

.right {
    width: 300px;

}

.floatLeft{
    float: left;
}

#container:after {
    content: "";
    display: block;
    clear: both;
    
}