
<div class="well">
    <div class="row">
        <div class="col-md-12">
            <p>{{ message }}</p>
        </div>
    </div>
    <div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Podaj imię" ng-model="staffName">
            <input type="text" class="form-control" placeholder="Podaj nazwisko" ng-model="staffLastname">
            <input type="text" class="form-control" placeholder="Podaj wynagrodzenie" ng-model="staffSalary">
            <select class="form-control" ng-model="profession" id="addStaffOptions">
                <option ng-repeat="p in professions" value="{{ p.id }}">{{ p.name }}</option>
            </select>
            <button class="btn btn-success" type="button" ng-click="addStaff()">Dodaj użytkownia</button>
            
        </div>
    </div>
    </div>
    
</div>