<div class="well">
    <h3>{{ animal.name }}</h3>
    <div class="row">
        <div class="col-md-6">
            <img src="{{ animal.link }}" />
        </div>
        <div class="col-md-6">
            <p>Gatunek: <a href="/#!spiecie/{{ animal.spiecie.id }}" >{{ animal.spiecie.name }}</a></p>
            <p>Opis : {{ animal.description }}</p>
        </div>
    </div>
    
</div>