<div class="jumbotron">
   <h1>Witaj w królewstie zwierząt.</h1>
    <hr>
   <p>Królestwo Animalia dzielone jest na dwa podkrólestwa. Pierwsze z nich obejmuje zwierzęta, które nie mają właściwych tkanek, organów (narządów), układu mięśniowego i nerwowego, czyli cech typowych dla tkankowców. We współczesnych klasyfikacjach określane jest naukową nazwą Parazoa, a w języku polskim nazwami zwyczajowymi beztkankowce, przedtkankowce, nietkankowce lub nibytkankowce. Należy do nich jeden typ – gąbki.</p>
 </div>