<div class="well">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <h3>Dodaj zawód</h3>
            <hr>
            <p ng-if="message">{{ message }}</p>
            <div class="input-group">
                <input type="text" class="form-control" ng-model="name" placeholder="Podaj nazwę..."/>
                <textarea class="form-control" name="description" ng-model="professionDesc" placeholder="Opis zawodu..."></textarea>
                <button type="submit" class="btn btn-success" ng-click="addProf()">Dodaj</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <h3>Zawody</h3>
<!--            <hr>-->
            <ul>
                <li ng-repeat="profession in professions"><a href="/#!profession/{{ profession.id }}">{{ profession.name }}</a></li>
            </ul>
        </div>
    </div>
</div>