<div class="well">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <h3>Dodaj gatunek</h3>
            <hr>
            <p ng-if="message">{{ message }}</p>
            <div class="input-group">
                <input type="text" class="form-control" ng-model="name" placeholder="Podaj nazwę..."/>
                <textarea class="form-control" name="description" ng-model="spiecieDesc" placeholder="Opis gatunku..."></textarea>
                <button type="submit" class="btn btn-default" ng-click="add()">Dodaj</button>    
                
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <h3>Gatunki</h3>
            <hr>
            <ul>
                <li ng-repeat="spiecie in spiecies"><a href="/#!spiecie/{{ spiecie.id }}">{{ spiecie.name }}</a></li>
            </ul>
        </div>
    </div>
</div>