<div class="well">
    <h3>{{ staff.name }} {{staff.lastname}}</h3>
    <div class="row">
        <div class="col-md-6">
            <p>Zawód: <a href="/#!profession/{{ staff.profession.id }}" >{{ staff.profession.name }}</a></p>
            <p>Wynagrodzenie: {{staff.salary}} zł</p>
        </div>
    </div>
    
</div>